@using Umbraco.Cms.Web.Common.PublishedModels
@model TradeBazar.ViewModels.MetaDataViewModel

<title>@Model.SeoTitle</title>

<meta name="description" content="@Model.SeoDescription"/>
<meta name="keywords" content="@Model.SeoTags"/>