<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bae8d028-c97a-47ef-86ff-86b17bb57c31" Alias="Content Base - Content - Block List" Level="1">
  <Info>
    <Name>Content Base - Content - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>