<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d2a24db8-7816-47c9-8b41-64f440577c25" Alias="blog" Level="2">
  <Info>
    <Name>Services</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="512d86fb-6d5e-425e-8631-6e80ad0443ba">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7c06ec0b-1890-40a7-b19e-dbfee3c62d91" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>