<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="095cc462-a80d-49a1-8b00-d52d19f3c43d" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e1e5d3c7-d27d-4935-9dc4-c4df824ecb76">footerProperties</Composition>
      <Composition Key="b3c5f1e7-4bbb-4388-a6a2-c81db94a6ddb">headerProperties</Composition>
      <Composition Key="9f7d7926-b14d-4563-be5c-db62cd505dbe">seoProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0104844d-25b7-4fcd-bee6-5b8b8daa8600">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e9dd4d27-3eb4-49f2-98ac-69bf52bf55a6" SortOrder="0">settings</ContentType>
    <ContentType Key="d2a24db8-7816-47c9-8b41-64f440577c25" SortOrder="1">blog</ContentType>
    <ContentType Key="7c06ec0b-1890-40a7-b19e-dbfee3c62d91" SortOrder="2">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>