<?xml version="1.0" encoding="utf-8"?>
<Media Key="20f4abf1-f27b-4bef-8681-f9a023370237" Alias="10 Things You Never Realised You Didnt Know About Metal" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ThingsYouNeverRealisedYouDidntKnowAboutMetal</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-28T15:50:01</CreateDate>
    <NodeName Default="10 Things You Never Realised You Didnt Know About Metal" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/44vpiid1/10-things-you-never-realised-you-didnt-know-about-metal.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>