<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e46329e-056e-4ec5-a31b-97de54ad7003" Alias="5235" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:01:28</CreateDate>
    <NodeName Default="5235" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tazemtto/5235.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>