<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d3fd5d5-b719-41d4-8a7e-6d239618bbbf" Alias="Download" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Download</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-28T16:30:55</CreateDate>
    <NodeName Default="Download" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0pkd4liz/download.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>