<?xml version="1.0" encoding="utf-8"?>
<Media Key="fda66b45-9905-476f-b1b7-3e648ab1cfca" Alias="Image 2021 01 19 11 58 43" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image20210119115843</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-24T15:13:23</CreateDate>
    <NodeName Default="Image 2021 01 19 11 58 43" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/invln5if/image_2021-01-19_11-58-43.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>