<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a4dea0a-3289-404a-9fc3-398c2f2956c3" Alias="Indian Tutorials 16544993544X3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IndianTutorials16544993544X3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T13:30:43</CreateDate>
    <NodeName Default="Indian Tutorials 16544993544X3" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/btve0ouj/indian-tutorials-16544993544x3.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>