<?xml version="1.0" encoding="utf-8"?>
<Media Key="f77da49e-9518-4333-b7aa-c6be87bf11ad" Alias="Istockphoto 1249420269 612X612" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Istockphoto1249420269612X612</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T13:29:52</CreateDate>
    <NodeName Default="Istockphoto 1249420269 612X612" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tcsh13yy/istockphoto-1249420269-612x612.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>