<?xml version="1.0" encoding="utf-8"?>
<Media Key="3bc96951-0b23-4cb3-bcc2-6753f8e6eff3" Alias="Metallindustry 2019 005" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Metallindustry2019005</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-28T16:27:48</CreateDate>
    <NodeName Default="Metallindustry 2019 005" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k3unsozd/metallindustry_2019_005.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>