<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ec01586-d49a-40d9-bac6-65cacd743e78" Alias="Pexels Jakub Novacek 924824" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsJakubNovacek924824</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-25T14:12:24</CreateDate>
    <NodeName Default="Pexels Jakub Novacek 924824" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qaknatu0/pexels-jakub-novacek-924824.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>