<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1f54032-e3fa-4c52-9ec6-10c80466e17e" Alias="Portrait Young Employee Team 74855 7822" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PortraitYoungEmployeeTeam748557822</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-05-05T14:00:45</CreateDate>
    <NodeName Default="Portrait Young Employee Team 74855 7822" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fjaplup0/portrait-young-employee-team_74855-7822.avif]]></Value>
    </umbracoFile>
  </Properties>
</Media>