<?xml version="1.0" encoding="utf-8"?>
<Media Key="63e601fa-9d50-4a40-bda3-c5ad9b904b2a" Alias="Shrek" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shrek</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-24T13:48:49</CreateDate>
    <NodeName Default="Shrek" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5qapmy0q/shrek.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>