<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a94c507-a751-4d8c-a41b-ca1daf4cc5cc" Alias="Singing Basics" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SingingBasics</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-04T23:36:19</CreateDate>
    <NodeName Default="Singing Basics" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ahcjjgsr/singing-basics.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>