<?xml version="1.0" encoding="utf-8"?>
<Media Key="a560c292-5705-432f-9587-3c3e14245812" Alias="Web Maintenance Technician Concept It Support Technician Avatar Stock Illustration Gig Economy 135661 444" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WebMaintenanceTechnicianConceptItSupportTechnicianAvatarStockIllustrationGigEconomy135661444</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-05-05T13:35:12</CreateDate>
    <NodeName Default="Web Maintenance Technician Concept It Support Technician Avatar Stock Illustration Gig Economy 135661 444" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rlbgbjif/web-maintenance-technician-concept-it-support-technician-avatar-stock-illustration-gig-economy_135661-444.avif]]></Value>
    </umbracoFile>
  </Properties>
</Media>