<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d9d3bbe-8b04-452b-81be-9fb7037956da" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-04-24T13:41:54</CreateDate>
    <NodeName Default="Home Page">
      <Name Culture="en-us">Home Page</Name>
      <Name Culture="ja">ホームページ</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ja">true</Published>
    </Published>
    <Schedule />
    <Template Key="0104844d-25b7-4fcd-bee6-5b8b8daa8600">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/Egoushka"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://www.linkedin.com/in/yehor-hrabovskyi/"
  }
]]]></Value>
    </footerSocialLinks>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "ccf878de-de4f-4b83-aebc-98a91b697174",
    "mediaKey": "4ec01586-d49a-40d9-bac6-65cacd743e78"
  }
]]]></Value>
    </mainImage>
    <seoDescription>
      <Value Culture="en-us"><![CDATA[Home Page]]></Value>
      <Value Culture="ja"><![CDATA[ホームページ]]></Value>
    </seoDescription>
    <seoTags>
      <Value Culture="en-us"><![CDATA[[
  "Aboba",
  "TheBestEverWebsite"
]]]></Value>
      <Value Culture="ja"><![CDATA[[
  "ホームページ"
]]]></Value>
    </seoTags>
    <seoTitle>
      <Value Culture="en-us"><![CDATA[Home Page]]></Value>
      <Value Culture="ja"><![CDATA[ホームページ]]></Value>
    </seoTitle>
    <subtitle>
      <Value Culture="en-us"><![CDATA[Home Page]]></Value>
      <Value Culture="ja"><![CDATA[ホームページ]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Home Page]]></Value>
      <Value Culture="ja"><![CDATA[ホームページ]]></Value>
    </title>
  </Properties>
</Content>