<?xml version="1.0" encoding="utf-8"?>
<Content Key="20502ea7-535a-4416-9273-5fe514dabef3" Alias="Services" Level="2">
  <Info>
    <Parent Key="0d9d3bbe-8b04-452b-81be-9fb7037956da">Home Page</Parent>
    <Path>/HomePage/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2023-05-05T12:43:36</CreateDate>
    <NodeName Default="Services">
      <Name Culture="en-us">Services</Name>
      <Name Culture="ja">サービス</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ja">true</Published>
    </Published>
    <Schedule />
    <Template Key="512d86fb-6d5e-425e-8631-6e80ad0443ba">Blog</Template>
  </Info>
  <Properties />
</Content>