<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce1dbd1d-7b04-4c4f-973e-768e35803c41" Alias="Settings" Level="2">
  <Info>
    <Parent Key="0d9d3bbe-8b04-452b-81be-9fb7037956da">Home Page</Parent>
    <Path>/HomePage/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2023-05-02T15:44:15</CreateDate>
    <NodeName Default="Settings">
      <Name Culture="en-us">Settings</Name>
      <Name Culture="ja">設定</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ja">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainNavigation>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e1074d0e813b463e9a35a50dfaa114fa"
      },
      {
        "contentUdi": "umb://element/acf908021f91460288b2435b4aeff830"
      },
      {
        "contentUdi": "umb://element/9cfe0fdaf9004ae0bb8edeaaaa27b85f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0a45bd28-44fd-4992-9ee6-584339aaf52d",
      "udi": "umb://element/e1074d0e813b463e9a35a50dfaa114fa",
      "title": "About",
      "link": "[{\"name\":\"About Us\",\"udi\":\"umb://document/fc87f9e588d648e48f693f452d0cf29d\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "0a45bd28-44fd-4992-9ee6-584339aaf52d",
      "udi": "umb://element/acf908021f91460288b2435b4aeff830",
      "title": "Services",
      "childLinks": "[{\"name\":\"Virtual Assistant\",\"udi\":\"umb://document/edb8c2aa87e94995b0db88bfcb7028c4\"},{\"name\":\"XYZ\",\"udi\":\"umb://document/2d21a2e820d9415abb1ab8426e54aca5\"}]",
      "link": null
    },
    {
      "contentTypeKey": "0a45bd28-44fd-4992-9ee6-584339aaf52d",
      "udi": "umb://element/9cfe0fdaf9004ae0bb8edeaaaa27b85f",
      "title": "Contact Us",
      "childLinks": null,
      "link": "[{\"name\":\"Contact Us\",\"udi\":\"umb://document/870ea99aec854bcdbcac2dac7422af42\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="ja"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4fe678443c87424195c76eb848308939"
      },
      {
        "contentUdi": "umb://element/bdc922cd22d34b8c962628b3cbf3f470"
      },
      {
        "contentUdi": "umb://element/78e6f4870d7f4544a91156ce6431ce3e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0a45bd28-44fd-4992-9ee6-584339aaf52d",
      "udi": "umb://element/4fe678443c87424195c76eb848308939",
      "title": "私たちに関しては",
      "childLinks": null,
      "link": "[{\"name\":\"私たちに関しては\",\"udi\":\"umb://document/fc87f9e588d648e48f693f452d0cf29d\"}]"
    },
    {
      "contentTypeKey": "0a45bd28-44fd-4992-9ee6-584339aaf52d",
      "udi": "umb://element/bdc922cd22d34b8c962628b3cbf3f470",
      "title": "サービス",
      "childLinks": "[{\"name\":\"XYZ サービス\",\"udi\":\"umb://document/2d21a2e820d9415abb1ab8426e54aca5\"}]",
      "link": null
    },
    {
      "contentTypeKey": "0a45bd28-44fd-4992-9ee6-584339aaf52d",
      "udi": "umb://element/78e6f4870d7f4544a91156ce6431ce3e",
      "childLinks": null,
      "link": "[{\"name\":\"お問い合わせ\",\"udi\":\"umb://document/870ea99aec854bcdbcac2dac7422af42\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
  </Properties>
</Content>