<?xml version="1.0" encoding="utf-8"?>
<Content Key="05cb9f0e-6020-490b-a30c-368bf9cd37de" Alias="Blog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2023-05-05T12:43:49</CreateDate>
    <NodeName Default="Blog">
      <Name Culture="en-us">Blog</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties />
</Content>